@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --color-brand: 17 24 39;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


::-webkit-scrollbar {
  width: 3px;
}
  ::-webkit-scrollbar-track {
  background: rgb(214, 214, 214);
}
  ::-webkit-scrollbar-thumb {
  background: rgb(var(--color-brand)); 
    border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  
  background: rgb(var(--color-brand)); 
} 

:root {
  --max-width: 1000px;

  --primary: #63e;
  --grey-00: #ffffff;
  --grey-10: #f4f4ff;
  --grey-20: #ececfb;
  --grey-30: #dfe1f4;
  --grey-40: #babcd2;
  --grey-50: #9fa2b9;
  --grey-60: #5e6077;
  --grey-70: #383a4d;
  --grey-80: #2a2b3a;
  --grey-90: #171825;
  --grey-100: #010314;

  --token-02: 0.1rem;
  --token-04: 0.2rem;
  --token-08: 0.4rem;
  --token-12: 0.6rem;
  --token-16: 0.8rem;
  --token-20: 1rem;
  --token-24: 1.2rem;
  --token-32: 1.6rem;
  --token-40: 2rem;
  --token-48: 2.4rem;
  --token-56: 2.8rem;
  --token-64: 3.2rem;
  --token-72: 3.6rem;
  --token-80: 4rem;
  --token-88: 4.4rem;
  --token-96: 4.8rem;
  --token-104: 5.2rem;
  --token-112: 5.6rem;
  --token-120: 6rem;
  --token-128: 6.4rem;
  --token-156: 7.8rem;

  --font-size-regular: 0.8rem;
  --font-size-medium: 0.9rem;
  --font-size-large: 1rem;

  --font-size-h1: 3rem;
  --font-size-h2: 1.8rem;
  --font-size-h3: 1.6rem;
  --font-size-h4: 1.4rem;
  --font-size-h5: 1.2rem;
  --font-size-h6: 1rem;

  --fw-headings: 600;
  --ls-headings: -0.04em;

  --headings-color: var(--grey-100);
  --box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.075);
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.player-controls {
  bottom: -4rem !important;
}
.video-wraper:hover > .player-controls {
  bottom: -15px !important;
}
::-webkit-media-controls {
  display: none !important;
}
video::-webkit-media-controls {
  display: none !important;
}
video::-webkit-media-controls-enclosure {
  display: none !important;
}