.overlay {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* width: 90%; */
  padding: 1rem 2.3rem;
  background: rgba(128, 128, 128, 0.242);
  position: absolute;
  bottom: 0;
}
.btn {
  display: flex;
  justify-content: space-between;
  width: 680px;
  position: absolute;
  padding: 1.5rem;
}
.btn a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 300;
  background: rgba(244, 87, 69, 0.461);
  border-radius: 10px;
  padding: 0.5rem;
}
.btn p {
  font-size: 20px;
  font-weight: 500;
  color: white;
}
